body{
    padding-left:10px 
}
.Reminder{
    padding-left: 20px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}
.query-box{
    line-height: 36px;
    width: 31%;
}
.Reminder-title{
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff;
    padding: 5px 30px;
    border-radius:6px; 
    border: 1px solid #e2e2e2;
}

.data-option{
    width: 302px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
}
.data-option li{
    float: left;
    padding:5px 25px;
    border-right: 1px solid #e2e2e2;
}
.data-option li:hover{
    background: blueviolet;
    color: #fff;
    border-radius: 6px;
}
.data-option li a{
    
}
.shops-goods-title,.shops-goods-content{
    font-size: 0;
}
.shops-goods-title div{
    font-size: 16px;
    display: inline-block;
    height: 42px ;
    border:1px solid #e2e2e2;
    line-height: 40px;
}
.shops-goods-content div{
    font-size: 16px;
    display: inline-block;
    height: 82px ;
    border:1px solid #e2e2e2;
    line-height: 80px;
}
.shops-goods-title div input,.shops-goods-content div input{
    vertical-align: -3px;
}
.goods-num-title,.goods-num{
    width:100px;
    text-align: center;
}
.goods-name-title,.goods-name{
    width: 200px;
    text-align: center;
}
.goods-classify-title,.goods-classify{
    width: 250px;
    text-align: center;   
}
.goods-classify{
    vertical-align: -35px;
}
.goods-price-title,.goods-price{
    width: 100px;
    text-align: center;
}
.goods-stock-title,.goods-stock{
    width: 100px;
    text-align: center;
}
.goods-order-title,.goods-order{
    width: 100px;
    text-align: center;
}
.goods-up-title,.goods-up{
    width: 100px;
    text-align: center;
}
.goods-option-title,.goods-option{
    width: 150px;
    text-align: center;
}